.nav {
    padding: 2rem 5rem;
    position: fixed;
    z-index: 100;
    background-image: linear-gradient(black, transparent);
    width: 100%;
}
.navBlack{
    background-color: black !important;
}